nav ul li{
    display: inline;
    margin-right: 40px;
    font-size: 24px;

}
header {
    border-style: inherit;
    border-radius: 5px;
    border-color: aqua;
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
nav ul {
    list-style: none;
    font-size: larger;
}
.a{
    padding-left: 120px;
    padding-right: 100px;
    font-size: 28px;
}
nav ol li{
    padding-left: 130px;
    padding-right: 10px;
    list-style: none;
    color: gold;
    font-size: 25px;
    
}
nav ul li{
    list-style: circle;
    font-size: 18px;
    color:black
}
h3{
    padding-left:125px;
    font-size:  27px;
}
.b ol li{
    padding-left: 130px;
    padding-right: 10px;
    list-style: none;
    color:aqua;
    font-size: 25px;
} 
.b ul li{
    list-style: circle;
   color:black; 
    font-size: 18px;
}
body{
 background-image: url(R2.jpg); 
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 }
nav a {
    text-decoration: none;
    color: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 20px;
}
